<footer class="footer">
  <small>
    &copy; 2013 Chirp. All Rights Reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   pages_about_path %></li>
      <li><%= link_to "Contact", pages_contact_path %></li>
      <li><%= link_to "News",    pages_news_path %></li>
    </ul>
  </nav>
</footer>